.custom-modal {
    height: 100%;
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.custom-modal .loading {
    position: absolute;
    top: 40%;
    -webkit-animation: spin 4s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}


.custom-modal .alert.success {
    color: green;
}

.custom-modal .alert.failure {
    color: maroon;
}


.custom-modal .modal-content {
    height: 80%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-dropzone {
    height: 75%;
    width: 75%;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
}

.custom-dropzone.success {
    border-color: green;
}

.custom-dropzone.failure {
    border-color: maroon;
}
