.Dashboard {
  height: 100vh;
  padding: 0;
  z-index: 3;
  min-width: fit-content;
}

.Dashboard .Inner .card-header {
  background-color: var(--dark-blue);
}

.Dashboard .Inner {
  border: none;
  margin: -3px;
  border-radius: 8px;
  padding-left: 26px;
  padding-top: 45px;
  min-height: 100vh;
}

.FormContainer {
    display: flex;
    flex-direction: column;
}

.FormContainer .FormActionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Dashboard button {
  cursor: pointer;
}

.Dashboard .card-header .d-flex *{
  white-space: nowrap;
}

.Dashboard .card-header.top-bar-height {
  min-width: 60vw;
}

.Dashboard .top-bar-height .header-btn {
  font-size: 24px;
  font-family: AvenirNext-Medium;
  min-width: 340px;
}

.Dashboard .card {
  border: none;
  height: 100%;
}
