.Dashboard {
    height: 100vh;
    padding: 0;
}

.Dashboard .Inner .card-header {
  background-color: var(--dark-blue);
}

.Dashboard .Inner {
  border: none;
  margin: -3px;
  border-radius: 8px;
}

.FormContainer {
    display: flex;
    flex-direction: column;
}

.FormContainer .FormActionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Dashboard button {
  cursor: pointer;
}

.Dashboard .card-header span {
  margin-right: 1rem;
}

.Dashboard .top-bar-height .btn {
  font-size: 24px;
  font-family: AvenirNext-Medium;
  min-width: 340px;
}

.Dashboard .card {
  border: none;
  height: 100%;
}
