.Dashboard {
    height: 100vh;
    width: 70vw;
    padding: 15px 15px;
}

.Dashboard .Inner {
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 10px;
}

.FormContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.FormContainer .CloseButton {
    margin-left: auto;
    font-size: 20px;
    font-weight: 200;
}

.FormContainer .CloseButton:hover {
    cursor: pointer;
    opacity: 0.6;
}

.FormContainer .SaveButton {
    margin-top: auto;
    width: 150px;
    margin-left: auto;
}