.nav-pills {
  position: relative;
  width: 100%;
  padding-left: 0;
}

.nav-pills .nav-item {
  cursor: pointer;
  line-height: 19px;
  width: 100%;
  border-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}

.nav-pills .nav-item .intro {
  color: var(--intro-color);
}

.live-circle {
  color: #29AB87;
}

.fa.fa-chevron-right, .fa.fa-chevron-down {
  padding: 2px;
  margin-right: 4px;
}
