.nav-pills {
  position: relative;
  width: 100%;
  padding-left: 0;
}

.nav-pills .nav-item {
  cursor: pointer;
  line-height: 19px;
  width: 100%;
  border-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}

.nav-pills .nav-item .intro {
  color: var(--intro-color);
}

.tooltip.show {
  opacity: 1;
}

.tooltip.show .tooltip-arrow{
  color: var(--collection);
  background-color: var(--collection);
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: var(--collection) !important;
}

.custom-tt {
  background-color: var(--collection);
  opacity: 1;
  font-family: HelveticaNeue;
  font-size: 14px;
}

.live-circle {
  color: #29AB87;
}

.fa.fa-chevron-right, .fa.fa-chevron-down {
  padding: 2px;
  margin-right: 4px;
}
