.App .AssetLibrary .card .card-header{
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--card-header-text);
}

.App .AssetLibrary .card {
  padding: 0;
  margin-top: 2rem;
  width: 494px;
}

.AssetLibrary .card .card-body {
  padding: 21px 18px;
  background-color: #fff;
}

.App .AssetLibrary .card-header span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.App .AssetLibrary .card-header form {
  margin-left: 26px;
}

.AssetLibrary .btn.btn-secondary {
  padding: 16px 80px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.04;
}
