.AssetLibrary .card {
  background-color: #C8C8C8;
  padding: 0;
  margin-top: 2rem;
}

.AssetLibrary .card .card-body {
  padding: 0;
}

.AssetLibrary .card .card-header {
  background-color: #858C93;
  width: 100%;
}

.AssetLibrary {
  padding-left: 0;
}
