.dropdown div {
  border-radius: 4px;
}

.dropdown-menu button.dropdown-item {
  cursor: pointer;
}

.dropdown .btn.btn-outline-primary.btn-lg {
  margin: 30px;
  width: 400px;
}

.card .card-footer {
  padding: 0;
  border-radius: 4px;
  border-top: none;
  background-color: transparent;
  color: black;
  font-size: 16px;
  font-family: HelveticaNeue;
}

.card .card-footer .dropdown .dropdown-menu.show ::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.card .card-footer .dropdown .dropdown-menu.show {
    max-height: 400px;
    overflow: scroll;
}

.card .card-footer .dropdown div.bg-path {
  background-color: var(--next-message);
  border: none;
}

.card .card-footer .dropdown div {
  padding: 14px;
}

.card .card-footer .dropdown div.next-convo {
  border: 1px var(--quick-reply-border) solid;
  cursor: pointer;
  border-radius: 4px;
}

.card .card-footer div.broken-link {
  position: fixed;
  bottom: 5px;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: var(--warning-bg-color);
  color: #eee;
}
