.App {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
}

.App .floating-loader {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  color: white;
}

.App button.disabled {
  cursor: not-allowed;
}

.App .dropdown div.disabled {
  cursor: not-allowed;
}

.App .col-8 .container-fluid {
  padding-top: 35px;
  border-top: 1px;
  background-color: var(--light-blue);
  margin-left: -3px;
  padding-bottom: 100px;
}

.App .top-bar-height {
  height: 130px;
}
