.App {
    display: flex;
    flex-direction: row;
}

.App .floating-loader {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}

.App button.disabled {
  cursor: not-allowed;
}

.App .dropdown div.disabled {
  cursor: not-allowed;
}
