.Sidebar {
  padding-right: 0;
  padding-left: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
}

.Sidebar .sidebar-guts {
  position: absolute;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.Sidebar .Inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-blue);
}

.Sidebar .btn {
  cursor: pointer;
}

.Sidebar .PoolContainer {
    display: flex;
    height: auto;
    padding: 5px 0 5px 5px;
}

.Sidebar .PoolContainer:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
}

.Sidebar .PoolContainer .IconContainer {
    min-width: 25px;
}

.Sidebar .PoolContainer .Circle {
    width: 11px;
    height: 11px;
    line-height: 11px;
    text-align: center;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 10px 0 10px;
}

.Sidebar .PoolContainer .Circle.green {
    background-color: #16a085;
}

.Sidebar .ImageUpload {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Sidebar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.Sidebar .btn.btn-primary {
  margin-top: 0;
  border-radius: 0;
  border: none;
  height: 54px;
  color: var(--light-blue);
}

.Sidebar .btn.btn-primary.selected {
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.Sidebar .btn.btn-primary:hover {
  color: #6c757d;;
}

.Sidebar .container-fluid h4 {
  margin-left: 10px;
  text-transform: uppercase;
  color: #fff;
}

.App .Sidebar .Conversations .header{
  background-color: white;
  border-radius: 6px;
  padding: 20px 0;
  margin-bottom: 0;
}

.App .Sidebar h4 {
  margin-left: 33px;
}

.App .Sidebar .Conversations h4 {
  margin-left: 15px;
}

.App .Sidebar .btn{
  font-size: 16px;
  font-weight: lighter;
}

.App .Sidebar .Conversations .header .btn{
  font-weight: 100;
  min-width: 83px;
}

.App .Sidebar .Conversations {
  background-color: rgba(0,0,0,0);
  color: #1C2A56;
  min-height: 100vh
}

.App .Sidebar  .wt-bdr-rt .btn{
  padding-left: 33px;
}

.App .Sidebar  .wt-bdr-rt .header .btn{
  padding-left: .75rem;
}

.App .Sidebar .wt-bdr-rt {
  border-right: 2px white solid;
}
