.Sidebar .Inner {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Sidebar .Inner button {
    margin-bottom: 30px;
}

.Sidebar .PoolContainer {
    display: flex;
    align-items: center;
    height: auto;
    padding: 5px 0 5px 5px;
}

.Sidebar .PoolContainer:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
}

.Sidebar .PoolContainer .IconContainer {
    min-width: 25px;
}

.Sidebar .PoolContainer .Circle {
    width: 11px;
    height: 11px;
    line-height: 11px;
    border-radius: 50%; /* the magic */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 10px 0 10px;
}

.Sidebar .PoolContainer .Circle.green {
    background-color: #16a085;
}

.Sidebar .ImageUpload {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
