.Form {
    display: flex;
    flex-direction: column;
}

.Form .Row {
    display: flex;
    border-bottom: 1px solid #333;

    padding: 30px 0;
}

.Form .EntityName {
    margin: 0;
    width: 50%;
}

.TagsContainer,
.RulesContainer {
    width: 50%;
 }

 .RulesContainer {
     padding: 0 30px;
 }

 .RulesContainer select {
     width: 60%;
 }

.Tags textarea {
    height: 100px;
    width: 100%;

    border-radius: 5px;
}

.LiveContainer {
    margin: 0 50px;
}

.ChildrenContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.ChildrenContainer .ChildGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px;
    color: #444;
}

.ChildrenContainer .ChildGrid .Card {
    width: 60%;
    margin: 15px 0;
}

.ChildrenContainer .ChildGrid .Card .MessageEdit {
    margin: 15px 0;
}

.ChildrenContainer .ChildGrid .Card .MessageEdit label {
    font-size: 14px;
}

.AddButtonWrapper {
    width: 25%;
    height: 50px;
    border: 1px solid #333;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    font-size: 15px;
}

.AddButtonWrapper .Add {
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AddButtonWrapper .Add:hover {
    cursor: pointer;
}

.AddButtonWrapper select {
    border: 0;
    height: inherit;
    float: right;
    width: 75%;
    flex-basis: 75%;

    background-position: right right;
    background-repeat: no-repeat;
    background: transparent;
    border: 0;
    border-radius: 2px;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.AddButtonWrapper select:hover {
    cursor: pointer;
}

label {
    margin-right: 15px;
}